///
/// Colors
///

$white: #fff;
$black: #000;

$text: $black;

$backgroundColor: #dae3fc;
$backgroundImage: linear-gradient(344deg, #dae3fc 0%, #defaf7 33%, #f0feed 66%, #e0fefe 100%);

$sidebarBackgroundColor: #9BE2D4;
$sidebarText: $white;
$postHeaderColor: rgb(76, 173, 154);